<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="row-fluid">
        <span class="navbar-form pull-left">
          <button class="go-workspace btn-link"><i class="icon-home nav-home"></i></button>
          <span id="workspace-menu-add">
            {{! Add View }}
          </span>

          <span id="workspace-menu-toolbar">
            {{! Toolbar View }}
          </span>
        </span>

        <span id="workspace-menu-auth" class="pull-right">
          {{! Auth View }}
        </span>
      </div>
    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->
